@import "../../fn";

.page-4 {
  background-image: url('../../img/bg2.png');
  .card{
    padding-top: 0px;
  }
  .img{
    position: relative;
    height: 835px;
    transform: translateX(-48px);
  }
  .car{
    &:after{
      content:'';
      display: block;
      @include bg(url('../../img/p4-car.png'),401px,317px);
      animation: flipInY 2000ms 500ms ease both running;
    }
    transform: translateX(-50%);
    position: absolute;
    top:292px;
    left: 50%;
  }
  @mixin des-info($top,$left){
    position: absolute;
    top:$top;
    left: $left;
    &:before{
      content:'';
      display: block;
    }
  }
  .des-1{
    .bg-1{
      animation: fadeIn 800ms ease 1200ms both running;
      @include des-info(122px,309px);
      &:before{
        @include bg(url('../../img/p4-i1.png'),321px,321px);
        opacity:0.5;
      }
    }
    .bg-2{
      animation: stretchRight 800ms ease 1400ms both running;
      @include des-info(122px,309px);
      &:before{
        @include bg(url('../../img/p4-t1.png'),335px,98px);
      }
    }
  }
  .des-2{
    .bg-1{
      @include des-info(234px,53px);
      animation: fadeIn 800ms ease 1600ms both running;
      &:before{
        @include bg(url('../../img/p4-i2.png'),321px,321px);
        opacity:0.5;
      }
    }
    .bg-2{
      @include des-info(272px,53px);
      animation: stretchRight 800ms ease 1800ms both running;
      &:before{
        @include bg(url('../../img/p4-t2.png'),241px,65px);
      }
    }
  }
  .des-3{
    .bg-1{
      @include des-info(378px,314px);
      animation: fadeIn 800ms ease 2000ms both running;
      &:before{
        @include bg(url('../../img/p4-i3.png'),321px,321px);
        opacity:0.5;
      }
    }
    .bg-2{
      @include des-info(577px,405px);
      animation: stretchRight 800ms ease 2200ms both running;
      &:before{
        @include bg(url('../../img/p4-t3.png'),239px,65px);
      }
    }
  }
  .des-4{
    .bg-1{
      @include des-info(475px,73px);
      animation: fadeIn 800ms ease 2400ms both running;
      &:before{
        @include bg(url('../../img/p4-i4.png'),321px,321px);
        opacity:0.5;
      }
    }
    .bg-2{
      @include des-info(678px,50px);
      animation: stretchRight 800ms ease 2600ms both running;
      &:before{
        @include bg(url('../../img/p4-t4.png'),283px,65px);
      }
    }
  }
  .des-5{
    @include bg(url('../../img/p4-text.png'),226px,34px);
    position: absolute;
    left: 433px;
    top:774px;
    animation: fadeInNormal 800ms ease 2800ms both running;
  }
  .text-content{
    font-size: 28px;
    color: #4E6B7C;
    letter-spacing: 0;
    line-height: 42px;
    animation: fadeInNormal 800ms ease 3000ms both running;
  }
}