@import "../../fn";

.page-2 {
  background-image: url('../../img/bg2.png');
  .card-content{
    transform: translateY(-10px);
  }
  .item{
    padding: 20px 32px;
    animation: fadeInNormal 1000ms ease 1500ms both running;
  }
  .item-container{
    display: flex;
    padding: 0 20px;
    transform-origin: top;
    animation: pullDown 1000ms ease 1500ms both running;
  }
  .item-group{
    flex: 1;
  }
  .item-title{
    width: 247px;
    background-image: linear-gradient(-270deg, #73BF63 0%, #FFFFFF 100%);
    font-size: 28px;
    color: #FFFFFF;
    padding: 6px 16px;
    margin-bottom: 15px;
  }
  .item-content{
    font-size: 24px;
    line-height: 32px;
    color: #4E6B7C;
  }
  .notice{
    font-size: 24px;
    color: #4E6B7C;
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    animation: fadeInNormal 1000ms ease 1500ms both running;
  }
}