@import "../../fn";

.page-3 {
  background-image: url('../../img/bg2.png');
  .text-content{
    font-size: 28px;
    color: #4E6B7C;
    letter-spacing: 0;
    line-height: 42px;
    position: relative;
    animation: fadeInNormal 1000ms ease 1500ms both running;
  }
  .img-list{
    width: 597px;
    margin: 60px auto;
  }
  .img-1{
    animation: flipInX 1000ms ease 2000ms both running;
    @include bg(url('../../img/p3-o1.png'),597px,116px);
    margin-bottom: 60px;
  }
  .img-2{
    animation: flipInX 1000ms ease 2400ms both running;
    @include bg(url('../../img/p3-o2.png'),562px,119px);
  }
}