@import "./animate";
@import "./fn";

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: PingFang, 苹方, -apple-system, "SF UI Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  background: #fff;
  user-select: none;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

#app {
  position: relative;
  overflow: hidden;
}

.page {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .animated{
    opacity: 0;
  }
  &.active .animated{
    opacity: 1;
  }
  &.next {
    transform: translateY(100%);
  }
  &.prev {
    transform: translateY(-100%)
  }
  &.next, &.prev {
    .animate-item {
      opacity: 0;
      animation: none;
    }
  }
}

.card {
  width:  750px;
  height: 1092px;
  .card-particleground{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 0px;
    top:0px;
    //pointer-events: none;
    transform-origin: 0% 0%;
    transform: scale(0.5);
    &:last-child{
      left: 460px;
      top:840px;
    }
  }
  .card-content{
    animation: fadeInNormal 500ms ease 1200ms both running;
    position: relative;
  }
  .card-bg{
    @include bg(url('./img/card.png'), 750px, 1092px);
    animation: fadeInNormal 500ms ease 1000ms both running;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
  }
  margin: 40px auto 0;
  padding: 122px 60px 0;
  box-sizing: border-box;
  position: relative;
  .card-inset{
    @include bg(url('./img/card.png'), 750px, 1092px);
    animation: fadeInUp 200ms ease both running;
    position: absolute;
    top:0;
    overflow: hidden;
  }
  .card-title{
    font-size: 34px;
    color: #82E600;
    line-height: 36px;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    span{
      opacity: 0;
      animation: titleAnimate 800ms both running;
      display: inline-block;
    }
  }
  @mixin card-line{
    content:'';
    display: block;
    position: absolute;
    top:20px;
  }
  &:before{
    @include card-line;
    @include bg(url('./img/card-left.png'),33px,20px);
    left: 202px;
    animation: fadeInLeft 1000ms ease both running;
  }
  &:after{
    @include card-line;
    @include bg(url('./img/card-right.png'),33px,20px);
    right: 202px;
    animation: fadeInRight 1000ms ease both running;
  }
  .bottom{
    position: absolute;
    bottom:-60px;
    left: 50%;
    animation: buttonUpDown 2s infinite;
    &:after{
      content:'';
      display: block;
      @include bg(url('./img/card-bottom.png'),130px,44px);
      transform: translateX(-50%) scale(0.8);
    }
  }
}

.flipOut{
  animation: flipOut 300ms linear;
}

.flipIn{
  animation: flipIn 300ms linear;
}