@import "../../fn";

.page-6 {
  background-image: url('../../img/bg2.png');
  .map{
    @include bg(url('../../img/p6-map.png'),510px,411px);
    margin: 0 auto;
    position: relative;
    .icon{
      @include bg(url('../../img/p6-icon.png'),45px,54px);
      position: absolute;
      &.icon-1{
        left: 406px;
        top:215px;
        animation: bounceInDown 500ms ease 500ms both running;
      }
      &.icon-2{
        left: 335px;
        top:236px;
        animation: bounceInDown 500ms ease 1700ms both running;
      }
      &.icon-3{
        left: 355px;
        top:234px;
        animation: bounceInDown 500ms ease 2900ms both running;
      }
      &.icon-4{
        left: 345px;
        top:298px;
        animation: bounceInDown 500ms ease 4100ms both running;
      }
      &.icon-5{
        left: 365px;
        top:301px;
        animation: bounceInDown 500ms ease 5300ms both running;
      }
      &.icon-6{
        left: 355px;
        top:305px;
        animation: bounceInDown 500ms ease 6500ms both running;
      }
    }
  }
  .address{
    margin-top: 10px;
    margin-left: 60px;
  }
  .address-time{
    font-size: 24px;
    color: #4E6B7C;
    animation: fadeInNormal 1000ms ease 400ms both running;
    margin-bottom: 10px;
    &:before{
      content:'';
      display: inline-block;
      @include bg(url('../../img/p6-a2.png'),28px,29px);
      margin-right: 20px;
      vertical-align: top;
    }
  }
  .address-item{
    font-size: 28px;
    line-height: 1.2;
    color: #4E6B7C;
    padding: 10px 0;
    animation: fadeInNormal 1000ms ease both running;
    &:before{
      content:'';
      display: inline-block;
      @include bg(url('../../img/p6-a1.png'),20px,28px);
      margin-right: 20px;
      vertical-align: top;
    }
    span{
      display: inline-block;
      vertical-align: text-top;
      margin-left: 10px;
      &:first-child{
        margin-left: 0;
        font-weight: bold;
      }
      &.info{
        max-width: 390px;
        font-size: 24px;
      }
    }
  }
}